<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<appSettings>
		<add key="ConsumerKey" value="GGdQRvkrtr7ZzKragEwuhqQfO"/>
		<add key="ConsumerSecret" value="T4f7ypG6BwifZSqAbyGEAm4gd680vtCyruIFX0pFBZUw3JijHi"/>
		<add key="AccessToken" value="1309181893720584203-wIEwwO73KVj675Xogz33gw5PxRrcQl"/>
		<add key="AccessTokenSecret" value="Y8XNdBBrcBXwk9sJDtnwJMgyBOp0H2alp0GzQmuQXlFrG"/>
		<add key="BearerToken" value="AAAAAAAAAAAAAAAAAAAAAIYJIAEAAAAAlBr127ek%2F3EiHGOmwkndDgPRv4Y%3D27AaVjGjsUaiN2OnoTTX0uYhgBaVvSQlEfGr2Oc2zFzzb7Hsn3"/>
	</appSettings>
</configuration>